@model IEnumerable<PROYECTO_ED_01.Models.Pacientes>

@{ ViewData["Title"] = "ListaDePacientes"; }

<body>
    <header class="ListaFondo">
        <div class="textos">
            <h1 class="titulo">Buscar Paciente</h1>
            <h3 class="subtitulo">Ingrese los Campos Necesarios</h3>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">

            <form class="form-inline my-2 my-lg-0" asp-controller="VacunaC19" asp-action="RealizarBusqueda">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-light active">
                        <input type="radio" name="Buscar" id="Buscar" value="N" autocomplete="off" checked> Nombre
                    </label>
                    <label class="btn btn-outline-light">
                        <input type="radio" name="Buscar" id="Buscar" value="A" autocomplete="off"> Apellido
                    </label>
                    <label class="btn btn-outline-light">
                        <input type="radio" name="Buscar" id="Buscar" value="DPI" autocomplete="off"> DPI/CUI
                    </label>
                </div>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Texto" style="position:absolute; left: 750px;">
                <button class="btn btn-outline-info my-2 my-sm-0" style="position:absolute; left: 1000px;" type="submit">Buscar</button>
            </form>
        </nav>
        <hr />
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Edad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DPI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Departamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Municipio)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (Pacientes item in ViewBag.Pacientes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Edad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DPI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Municipio)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <section class="cards contenedor">

        <div class="content-cards">


            <a asp-action="Index" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Regresar</a>


        </div>
    </section>
</body>